<!DOCTYPE html>
<html>
<head>
    <title>App Name</title>
    <link rel="icon" type="image/png" href="/img/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div class="card">
    <div class="image-box">
        <img class="img" src="/img/logo.png">
    </div>
    <h3 class="h3">
        App Name
    </h3>
    <div class="text-box">
        <ol class="text">
            <li>Enter the path of your videos folder that you want to share</li>
            <li>Turn of your VPN or Firewall</li>
            <li>Copy your IP: [[${serverIp}]]</li>
            <li>Paste it on any device browser that is connected to your router</li>
        </ol>
    </div>
    <form action="/path" method="post" class="path-form">
        <input type="text" name="path" class="path-input" placeholder="Enter path here">
        <button type="submit" class="submit-button">Set Path</button>
    </form>
</div>

</body>
</html>